html, body {
            height: 100%;
        }
        .wrapper {
            background: linear-gradient(254deg, #2d52c9, #ffffff);
            height: 100%;
            position: relative;
        }
        .content {
            display:flex;
            justify-content:center;
            align-items:center;
            position: absolute;
            margin-top: 10rem;
        }