html, body {
    height: 100%;
}

@site-color: #2d52c9;
@bg-color: #7FFFD4;

.wrapper {
    background: linear-gradient(254deg, @site-color, #ffffff);
    height: 100%;
    position: relative;
    color: #fff;
}


.content {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content a {
    color: @site-color;
}

.content a:hover {
    background-color: @bg-color;
}

.content a:active {
    background-color: @bg-color + #222;
}

.footer {
    display: flex;
    height: 4rem;
    background: linear-gradient(254deg, @site-color - #444, #ffffff);
    align-items: center;
    justify-content: center;
}